@model IEnumerable<ShiningInfomation.Entity.StudentInfo>


@{
    ViewBag.Title = "学生信息";
}

<h2>Search</h2>
@using (Html.BeginForm())
{
    <p>
        姓名: @Html.TextBox("Search_name")
        <br><br>
        项目组: @Html.TextBox("Search_team")
        <br><br>
        闪亮小组: @Html.TextBox("Search_group")
        <br><br />
        <input type="submit" value="查询" />

    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentAlias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherInfo.TeacherName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherInfo.TeacherName)
            </td>
          
        </tr>
    }
</table>


<center>@Html.Partial("_SearchFenye")</center>
